extends layout

block content
    h1.text-center.mt-4(style="padding: 50px;")= title
    div
      form(action="/create/tasks", method="POST", class="card", style="padding: 2rem; border: 1px solid #212529; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); margin-bottom: 2rem;")
        div.mb-3
          label.form-label(for="project_id") Project:
          select.form-control(name="project_id", required)
            option(value="") -- Select a Project -- 
            each project in projects
              option(value=project.id) #{project.name}
        div.mb-3
          label.form-label(for="assigned_to") Assigned To:
          select.form-control(name="assigned_to", required)
            option(value="") -- Select a Project -- 
            each teamMember in teamMembers
              option(value=teamMember.id) #{teamMember.name}
        div.mb-3
          label.form-label(for="description") Description:
          input.form-control(type="text", name="description", required)
        div.mb-3
          label.form-label(for="status") Status:
          select.form-control(name="status", required)
            option(value="") -- Select a Status --
            option(value="Pending") Pending
            option(value="In Progress") In Progress
            option(value="Completed") Completed
        div.mb-3
          label.form-label(for="due_date") Due Date:
          input.form-control(type="date", name="due_date", id="dueDateInput", required)
        div.text-end
          button.btn.btn-info(type="submit", class="mt-3") Create Task
          a(href="/get/tasks", class="btn btn-info mt-3 ms-3") Back to Task List

block scripts
  script.
    document.addEventListener("DOMContentLoaded", function () {
      const dueDateInput = document.getElementById("dueDateInput");

      dueDateInput.addEventListener("click", function () {
        this.showPicker ? this.showPicker() : this.focus();
      });
    });