extends layout

block content
  each data in relatedData
    if data.client_id  
      div.container.mt-5
        h1.text-center #{data.name}
        p.text-center #{data.email} | #{data.phone} | #{data.website_url}

    h3.mt-4 Projects
    each data in relatedData
      if data.project_id
        div.card.p-4.mb-3
          h4 #{data.project_name}
          p Status: #{data.project_status}

    h3.mt-4 Invoices
    each data in relatedData
      if data.invoice_id
        div.card.p-4.mb-3
          p Amount: $#{data.amount}
          p Due Date: #{data.due_date}
          p Status: #{data.invoice_status}

    h3.mt-4 Marketing Campaigns
    each data in relatedData
      if data.campaign_id
        div.card.p-4.mb-3
          p Type: #{data.campaign_type}
          p Name: #{data.campaign_name}
