extends layout

block content
  div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').card.p-4
    div.container.mt-5
      h1.text-center #{client.name}
      p.text-center #{client.email} | #{client.phone} | #{client.website_url}

    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); background-color: #017f81;').card.p-4.mb-3
      h3.mt-4 Projects
      each data in relatedData
        if data.project_id
          h4 #{data.project_name}
          p Status: #{data.project_status}

    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); background-color: #017f81;').card.p-4.mb-3
      h3.mt-4 Invoices
      each data in relatedData
        if data.invoice_id
          p Amount: $#{data.amount}
          p Due Date: #{data.due_date}
          p Status: #{data.invoice_status}

    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); background-color: #017f81;').card.p-4.mb-3
      h3.mt-4 Marketing Campaigns
      each data in relatedData
        if data.campaign_id
          p Type: #{data.campaign_type}
          p Name: #{data.campaign_name}
