extends layout

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div.cardBackgroud.card.p-4
      p.info Client: #{invoice.client_name}
      p.info Project: #{invoice.project_name}
      p.info Amount: #{invoice.amount}
      p.info Status: #{invoice.status}
      p.info Due Date: #{invoice.due_date instanceof Date ? invoice.due_date.toLocaleDateString() : invoice.due_date}
      p.info Issued Date: #{invoice.issued_at instanceof Date ? invoice.issued_at.toLocaleDateString() : invoice.issued_at}
      div.text-end
        form(action=`/update/invoices/${invoice.id}`, method="GET", style="display: inline;")
          input(type="hidden", name="_method", value="GET")
          button(type="submit", class="btn btn-info mt-3") Edit Invoice
        a(href="/get/invoices", class="btn btn-info mt-3 ms-3") Back to Invoice List
        form(action=`/delete/invoices/${invoice.id}`, method="POST", style="display: inline;")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", class="btn btn-danger mt-3 ms-3") Delete Invoice