extends layout

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').card.p-4
        //-   h2(style="color: white; font-weight: bold; text-decoration: none;")= project.name.toUpperCase()6
      p.info Client: #{invoice.client_id}
      p.info Project: #{invoice.project_id}
      p.info Amount: #{invoice.amount}
      p.info Status: #{invoice.status}
      p.info Due Date: #{invoice.due_date instanceof Date ? invoice.due_date.toLocaleDateString() : invoice.due_date}
      p.info Issued Date: #{invoice.issued_at instanceof Date ? invoice.issued_at.toLocaleDateString() : invoice.issued_at}
      div.text-end
        form(action=`/update/invoices/${invoice.id}`, method="GET", style="display: inline;")
          input(type="hidden", name="_method", value="GET")
          button(type="submit", class="btn btn-info mt-3") Edit Invoice
        a(href="/get/invoices", class="btn btn-info mt-3 ms-3") Back to Invoice List
        form(action=`/delete/invoices/${invoice.id}`, method="POST", style="display: inline;")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", class="btn btn-danger mt-3 ms-3") Delete Invoice