extends layout

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').card.p-4
      h2(style="color: white; font-weight: bold; text-decoration: none;")= lead.name.toUpperCase()
      p.info ID: #{lead.id}
      p.info Email: #{lead.email}
      p.info Phone Number: #{lead.phone}
      p.info Source: #{lead.source}
      p.info Status: #{lead.status}
      p.info Creation Date: #{lead.created_at instanceof Date ? lead.created_at.toLocaleDateString() : lead.created_at}
      div.text-end
        form(action=`/update/leads/${lead.id}`, method="GET", style="display: inline;")
          input(type="hidden", name="_method", value="GET")
          button(type="submit", class="btn btn-info mt-3") Edit Client
        a(href="/get/leads", class="btn btn-info mt-3 ms-3") Back to Client List
        form(action=`/delete/leads/${lead.id}`, method="POST", style="display: inline;")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", class="btn btn-danger mt-3 ms-3") Delete Client