extends layout 

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div.container.d-flex.justify-content-center.mt-4
      div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').table-card.p-4
        table.table.table-striped 
          thead 
            tr 
              th(scope="col", style="padding-left: 15px") Project
              th(scope="col", style="padding-left: 20px") Assigned To
              th(scope="col", style="padding-left: 70px") Status
              th(scope="col")
          tbody 
            each task in tasks 
              tr
                td 
                  a(href=`/get/tasks/${task.id}`, style="color: white; font-weight: bold; text-decoration: none; padding-left: 20px")= task.project_id
                td
                  a(href=`/get/tasks/${task.id}`, style="color: white; font-weight: bold; text-decoration: none; padding-left: 20px")= task.assigned_to
                td
                  a(href=`/get/tasks/${task.id}`, style="color: white; font-weight: bold; text-decoration: none; padding-left: 40px")= task.status
                td(style="padding-left: 41px")
                  a.btn.btn-info.btn-sm(href=`/get/tasks/${task.id}`) View
        div.p-4.d-flex.justify-content-end
          a.btn.btn-info(href='/create/tasks') Create New task