extends layout

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').card.p-4
      p.info Project: #{task.project_name}
      p.info Assigned To: #{task.team_member_name}
      p.info Description: #{task.description}
      p.info Status: #{task.status}
      p.info Creation Date: #{task.created_at instanceof Date ? task.created_at.toLocaleDateString() : task.created_at}
      p.info Due Date: #{task.due_date instanceof Date ? task.due_date.toLocaleDateString() : task.due_date}
      div.text-end
        form(action=`/update/tasks/${task.id}`, method="GET", style="display: inline;")
          input(type="hidden", name="_method", value="GET")
          button(type="submit", class="btn btn-info mt-3") Edit Task
        a(href="/get/tasks", class="btn btn-info mt-3 ms-3") Back to Task List
        form(action=`/delete/tasks/${task.id}`, method="POST", style="display: inline;")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", class="btn btn-danger mt-3 ms-3") Delete Task