extends layout

block content
    h1.text-center.my-4(style="padding: 50px;")= title
    div(style= 'box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);').card.p-4
      h2(style="color: white; font-weight: bold; text-decoration: none;")= teamMember.name.toUpperCase()
      p.info ID: #{teamMember.id}
      p.info Email: #{teamMember.email}
      p.info Phone Number: #{teamMember.phone}
      p.info Role: #{teamMember.role}
      p.info Team Member Since: #{teamMember.created_at instanceof Date ? teamMember.created_at.toLocaleDateString() : teamMember.created_at}
      div.text-end
        form(action=`/update/team_members/${teamMember.id}`, method="GET", style="display: inline;")
          input(type="hidden", name="_method", value="GET")
          button(type="submit", class="btn btn-info mt-3") Edit Team Member
        a(href="/get/team_members", class="btn btn-info mt-3 ms-3") Back to Team Member List
        form(action=`/delete/team_members/${teamMember.id}`, method="POST", style="display: inline;")
          input(type="hidden", name="_method", value="DELETE")
          button(type="submit", class="btn btn-danger mt-3 ms-3") Delete Team Member