extends layout

block content
    h1.text-center.mt-4(style="padding: 50px;")= title
    div
      form(action=`/update/projects/${project.id}`, method="POST", class="card", style="padding: 2rem; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); margin-bottom: 2rem;")
        div.mb-3
          label.form-label(for="name") Name:
          input.form-control(type="text", name="name", required, value=project.name)
        div.mb-3
          label.form-label(for="description") Description:
          input.form-control(type="text", name="description", value=project.description)
        div.mb-3
          label.form-label(for="start_date") Start Date:
          - let displayStartDate = new Date(project.start_date).toLocaleDateString()
          input.form-control(type="text", name="start_date", value=displayStartDate)
        div.mb-3
          label.form-label(for="deadline") Deadline:
          - let displayDeadlineDate = new Date(project.deadline).toLocaleDateString()
          input.form-control(type="text", name="deadline", value=displayDeadlineDate)
        div.mb-3
          label.form-label(for="status") Status:
          input.form-control(type="text", name="status", value=project.status)
        div.mb-3
          label.form-label(for="created_at") Creation Date:
          - let displayDate = new Date(project.created_at).toLocaleDateString()
          input.form-control(type="text", name="created_at", value=displayDate, readonly)
        div.text-end
          button.btn.btn-info(type="submit", class="mt-3") Save
          a(href=`/get/projects/${project.id}`, class="btn btn-info mt-3 ms-3") Cancel